In [1]:
import pandas as pd

Read the csv file to a dataframe that contains all NSS scores for teaching institutions of full-time students:

In [2]:
chunks = pd.read_csv("teach_ft.csv", chunksize=100_000)
NSS = pd.concat(chunks, ignore_index=True)

/tmp/ipykernel_20843/232549361.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  NSS = pd.concat(chunks, ignore_index=True)
/tmp/ipykernel_20843/232549361.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  NSS = pd.concat(chunks, ignore_index=True)
/tmp/ipykernel_20843/232549361.py:2: DtypeWarning: Columns (2,12) have mixed types. Specify dtype option on import or set low_memory=False.
  NSS = pd.concat(chunks, ignore_index=True)
/tmp/ipykernel_20843/232549361.py:2: DtypeWarning: Columns (2,12) have mixed types. Specify dtype option on import or set low_memory=False.
  NSS = pd.concat(chunks, ignore_index=True)
/tmp/ipykernel_20843/232549361.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  NSS = pd.concat(chunks, ignore_index=True)
/tmp/ipykernel_20843/232549361.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  NSS = pd.concat(chunks, ignore_index=True)

Examine the data:

In [3]:
NSS.head()

,NUM,POPULATION,UKPRN,PROVIDER_NAME,MODE_OF_STUDY,LEVEL_OF_STUDY,SUBJECT_LEVEL,CAH_CODE,CAH_NAME,QUESTION_NUMBER,...,INDICATOR_UPPERCI92,INDICATOR_UPPERCI90,INDICATOR_UPPERCI87,INDICATOR_UPPERCI85,INDICATOR_UPPERCI82,INDICATOR_UPPERCI80,INDICATOR_UPPERCI77,INDICATOR_UPPERCI75,PUB_RESPONSE_HEADCOUNT,PUB_RESPRATE
0,1,Taught,10004718,North Warwickshire and South Leicestershire Co...,Full-time,All undergraduates,CAH3,CAH25-01-04,Cinematics and photography,Q13: How often have you received assessment fe...,...,93.1,92.4,91.8,91.2,90.7,90.2,89.7,89.3,15,100.0
1,1,Taught,10004718,North Warwickshire and South Leicestershire Co...,Full-time,All undergraduates,CAH3,CAH25-01-04,Cinematics and photography,Q14: How often does feedback help you to impro...,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,15,100.0
2,1,Taught,10004718,North Warwickshire and South Leicestershire Co...,Full-time,All undergraduates,CAH3,CAH25-01-04,Cinematics and photography,Theme 3: Assessment and feedback,...,99.4,99.2,99.0,98.9,98.7,98.6,98.5,98.3,15,100.0
3,1,Taught,10004718,North Warwickshire and South Leicestershire Co...,Full-time,All undergraduates,CAH3,CAH25-01-04,Cinematics and photography,Q15: How easy was it to contact teaching staff...,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,15,100.0
4,1,Taught,10004718,North Warwickshire and South Leicestershire Co...,Full-time,All undergraduates,CAH3,CAH25-01-04,Cinematics and photography,Q16: How well have teaching staff supported yo...,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,15,100.0

In [4]:
NSS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 964603 entries, 0 to 964602
Data columns (total 73 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   NUM                     964603 non-null  int64
 1   POPULATION              964603 non-null  object
 2   UKPRN                   964603 non-null  object
 3   PROVIDER_NAME           964603 non-null  object
 4   MODE_OF_STUDY           964603 non-null  object
 5   LEVEL_OF_STUDY          964603 non-null  object
 6   SUBJECT_LEVEL           964603 non-null  object
 7   CAH_CODE                928329 non-null  object
 8   CAH_NAME                928329 non-null  object
 9   QUESTION_NUMBER         964603 non-null  object
 10  NUMBER_RESPONSES        964603 non-null  float64
 11  NUMBER_POPULATION       964603 non-null  float64
 12  SUPPRESSION_REASON      595 non-null     object
 13  OPTION1                 770135 non-null  float64
 14  OPTION2                 770135 non-null  float64
 15  OPTION3                 770135 non-null  float64
 16  OPTION4                 770135 non-null  float64
 17  OPTION5                 770135 non-null  float64
 18  NOT_APPLICABLE          770135 non-null  float64
 19  POSITIVITY_MEASURE      964593 non-null  float64
 20  STANDARD_DEVIATION      873580 non-null  float64
 21  BENCHMARK               873585 non-null  float64
 22  DIFFERENCE              873585 non-null  float64
 23  contr_benchmark         873585 non-null  float64
 24  MATERIALLY_BELOW_BENCH  873179 non-null  float64
 25  INLINE_WITH_BENCH       873179 non-null  float64
 26  MATERIALLY_ABOVE_BENCH  873179 non-null  float64
 27  DIFFERENCE_LOWERCI99    873179 non-null  float64
 28  DIFFERENCE_LOWERCI97    873179 non-null  float64
 29  DIFFERENCE_LOWERCI95    873179 non-null  float64
 30  DIFFERENCE_LOWERCI92    873179 non-null  float64
 31  DIFFERENCE_LOWERCI90    873179 non-null  float64
 32  DIFFERENCE_LOWERCI87    873179 non-null  float64
 33  DIFFERENCE_LOWERCI85    873179 non-null  float64
 34  DIFFERENCE_LOWERCI82    873179 non-null  float64
 35  DIFFERENCE_LOWERCI80    873179 non-null  float64
 36  DIFFERENCE_LOWERCI77    873179 non-null  float64
 37  DIFFERENCE_LOWERCI75    873179 non-null  float64
 38  DIFFERENCE_UPPERCI99    873179 non-null  float64
 39  DIFFERENCE_UPPERCI97    873179 non-null  float64
 40  DIFFERENCE_UPPERCI95    873179 non-null  float64
 41  DIFFERENCE_UPPERCI92    873179 non-null  float64
 42  DIFFERENCE_UPPERCI90    873179 non-null  float64
 43  DIFFERENCE_UPPERCI87    873179 non-null  float64
 44  DIFFERENCE_UPPERCI85    873179 non-null  float64
 45  DIFFERENCE_UPPERCI82    873179 non-null  float64
 46  DIFFERENCE_UPPERCI80    873179 non-null  float64
 47  DIFFERENCE_UPPERCI77    873179 non-null  float64
 48  DIFFERENCE_UPPERCI75    873179 non-null  float64
 49  INDICATOR_LOWERCI99     964593 non-null  float64
 50  INDICATOR_LOWERCI97     964593 non-null  float64
 51  INDICATOR_LOWERCI95     964593 non-null  float64
 52  INDICATOR_LOWERCI92     964593 non-null  float64
 53  INDICATOR_LOWERCI90     964593 non-null  float64
 54  INDICATOR_LOWERCI87     964593 non-null  float64
 55  INDICATOR_LOWERCI85     964593 non-null  float64
 56  INDICATOR_LOWERCI82     964593 non-null  float64
 57  INDICATOR_LOWERCI80     964593 non-null  float64
 58  INDICATOR_LOWERCI77     964593 non-null  float64
 59  INDICATOR_LOWERCI75     964593 non-null  float64
 60  INDICATOR_UPPERCI99     964593 non-null  float64
 61  INDICATOR_UPPERCI97     964593 non-null  float64
 62  INDICATOR_UPPERCI95     964593 non-null  float64
 63  INDICATOR_UPPERCI92     964593 non-null  float64
 64  INDICATOR_UPPERCI90     964593 non-null  float64
 65  INDICATOR_UPPERCI87     964593 non-null  float64
 66  INDICATOR_UPPERCI85     964593 non-null  float64
 67  INDICATOR_UPPERCI82     964593 non-null  float64
 68  INDICATOR_UPPERCI80     964593 non-null  float64
 69  INDICATOR_UPPERCI77     964593 non-null  float64
 70  INDICATOR_UPPERCI75     964593 non-null  float64
 71  PUB_RESPONSE_HEADCOUNT  964603 non-null  int64
 72  PUB_RESPRATE            964603 non-null  float64
dtypes: float64(61), int64(2), object(10)
memory usage: 537.2+ MB

Reduce down to only the columns necessary for the site (see Data Dictionary.csv for full details):

In [5]:
NSS = NSS[['UKPRN', 'PROVIDER_NAME', 'LEVEL_OF_STUDY', 'SUBJECT_LEVEL', 'CAH_CODE',
       'CAH_NAME', 'QUESTION_NUMBER', 'NUMBER_RESPONSES', 'NUMBER_POPULATION',
       'SUPPRESSION_REASON', 'POSITIVITY_MEASURE', 'BENCHMARK', 'DIFFERENCE',
       'PUB_RESPONSE_HEADCOUNT', 'PUB_RESPRATE']]

In [6]:
NSS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 964603 entries, 0 to 964602
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   UKPRN                   964603 non-null  object
 1   PROVIDER_NAME           964603 non-null  object
 2   LEVEL_OF_STUDY          964603 non-null  object
 3   SUBJECT_LEVEL           964603 non-null  object
 4   CAH_CODE                928329 non-null  object
 5   CAH_NAME                928329 non-null  object
 6   QUESTION_NUMBER         964603 non-null  object
 7   NUMBER_RESPONSES        964603 non-null  float64
 8   NUMBER_POPULATION       964603 non-null  float64
 9   SUPPRESSION_REASON      595 non-null     object
 10  POSITIVITY_MEASURE      964593 non-null  float64
 11  BENCHMARK               873585 non-null  float64
 12  DIFFERENCE              873585 non-null  float64
 13  PUB_RESPONSE_HEADCOUNT  964603 non-null  int64
 14  PUB_RESPRATE            964603 non-null  float64
dtypes: float64(6), int64(1), object(8)
memory usage: 110.4+ MB

Clean - replace NULLs in text fields with "N/A"s, etc:

In [7]:
NSS['CAH_CODE'].fillna("N/A", inplace=True)
NSS['CAH_NAME'].fillna("N/A", inplace=True)
NSS.info()

/tmp/ipykernel_20843/1062282103.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  NSS['CAH_CODE'].fillna("N/A", inplace=True)
/tmp/ipykernel_20843/1062282103.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  NSS['CAH_NAME'].fillna("N/A", inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 964603 entries, 0 to 964602
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   UKPRN                   964603 non-null  object
 1   PROVIDER_NAME           964603 non-null  object
 2   LEVEL_OF_STUDY          964603 non-null  object
 3   SUBJECT_LEVEL           964603 non-null  object
 4   CAH_CODE                964603 non-null  object
 5   CAH_NAME                964603 non-null  object
 6   QUESTION_NUMBER         964603 non-null  object
 7   NUMBER_RESPONSES        964603 non-null  float64
 8   NUMBER_POPULATION       964603 non-null  float64
 9   SUPPRESSION_REASON      595 non-null     object
 10  POSITIVITY_MEASURE      964593 non-null  float64
 11  BENCHMARK               873585 non-null  float64
 12  DIFFERENCE              873585 non-null  float64
 13  PUB_RESPONSE_HEADCOUNT  964603 non-null  int64
 14  PUB_RESPRATE            964603 non-null  float64
dtypes: float64(6), int64(1), object(8)
memory usage: 110.4+ MB

In [8]:
NSS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 964603 entries, 0 to 964602
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   UKPRN                   964603 non-null  object
 1   PROVIDER_NAME           964603 non-null  object
 2   LEVEL_OF_STUDY          964603 non-null  object
 3   SUBJECT_LEVEL           964603 non-null  object
 4   CAH_CODE                964603 non-null  object
 5   CAH_NAME                964603 non-null  object
 6   QUESTION_NUMBER         964603 non-null  object
 7   NUMBER_RESPONSES        964603 non-null  float64
 8   NUMBER_POPULATION       964603 non-null  float64
 9   SUPPRESSION_REASON      595 non-null     object
 10  POSITIVITY_MEASURE      964593 non-null  float64
 11  BENCHMARK               873585 non-null  float64
 12  DIFFERENCE              873585 non-null  float64
 13  PUB_RESPONSE_HEADCOUNT  964603 non-null  int64
 14  PUB_RESPRATE            964603 non-null  float64
dtypes: float64(6), int64(1), object(8)
memory usage: 110.4+ MB

Keep only the rows for the "Themes", not individual questions, and keep only "All undergraduates" under LEVEL_OF_STUDY:

In [12]:
NSS = NSS[NSS["QUESTION_NUMBER"].str.contains("Theme")]
NSS = NSS[NSS["LEVEL_OF_STUDY"].str.contains("All undergraduates")]

In [13]:
NSS.info()

<class 'pandas.core.frame.DataFrame'>
Index: 89957 entries, 2 to 962069
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   UKPRN                   89957 non-null  object
 1   PROVIDER_NAME           89957 non-null  object
 2   LEVEL_OF_STUDY          89957 non-null  object
 3   SUBJECT_LEVEL           89957 non-null  object
 4   CAH_CODE                89957 non-null  object
 5   CAH_NAME                89957 non-null  object
 6   QUESTION_NUMBER         89957 non-null  object
 7   NUMBER_RESPONSES        89957 non-null  float64
 8   NUMBER_POPULATION       89957 non-null  float64
 9   SUPPRESSION_REASON      50 non-null     object
 10  POSITIVITY_MEASURE      89956 non-null  float64
 11  BENCHMARK               83376 non-null  float64
 12  DIFFERENCE              83376 non-null  float64
 13  PUB_RESPONSE_HEADCOUNT  89957 non-null  int64
 14  PUB_RESPRATE            89957 non-null  float64
dtypes: float64(6), int64(1), object(8)
memory usage: 11.0+ MB

Export to csv for further analysis in Excel:

In [16]:
NSS.to_csv("NSS_themes.csv", index=False)

Further cleaning in Excel where it is easier to explore the data, and re-import - including:
- Remove rows that are suppressed, and the "SUPPRESSION REASON" column as it now contains only blanks. 
- Adding a "THEME_ID" column for easier identification in functions.
- When 'Benchmark' and 'Difference' are NULL, replacing these with reference to POSITIVITY_MEASURE column, as these are only NULL in the rows applying generally to UK, Wales, England, Scotland, N. Ireland.

Note - csv reader reads "N/A" as NULL